body {
  cursor: url("cursor.cur"), auto;
  font-family: "Bricolage Grotesque", sans-serif;
}

h1 {
  font-family: "Black Ops One", system-ui;
}

#note-card,
.note-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.note {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  padding: 10px;
  background-color: #e74c5b;

  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btns {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  z-index: 999;
  display: none;
}

.popup-box {
  background-color: firebrick;
  width: 40%;
  max-width: 600px;
  padding: 40px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: white;
}

.form-control:focus {
  background: transparent;
  border-bottom: 2px solid white;
  box-shadow: none;
}

@media (max-width: 768px) {
  .popup-box {
    width: 70%;
    padding: 30px;
  }

  .note {
    width: 220px;
  }
}

@media (max-width: 576px) {
  .popup-box {
    width: 90%;
    padding: 20px;
  }

  .note {
    width: 100%;
    min-height: auto;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  .btns {
    flex-direction: column;
  }

  .btns button {
    width: 100%;
  }
}
